@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 
  /* fffacd */
  --background:  #54cbca;
  --foreground: #333;
}

/* Optional dark mode settings */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jost", sans-serif;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
  pointer-events: none;
}
@layer utilities {
  .helvetica-fallback {
    font-synthesis: none;
    font-optical-sizing: none;
  }
  @keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
.star-13 {
  clip-path: polygon(
    50% 0%, 54% 10%, 64% 6%, 60% 16%,
    70% 20%, 60% 24%, 64% 34%, 54% 30%,
    50% 40%, 46% 30%, 36% 34%, 40% 24%,
    30% 20%, 40% 16%, 36% 6%, 46% 10%,
    50% 0%, 50% 0%, 50% 0%, 50% 0%
  );
}

.animate-bounce {
  animation: bounce 0.5s ease infinite;
}
}